.sidebar-hide {
  .wrapper {
    padding-left: 140px;
    /* padding-right: 30px; */

    .header {
      margin-right: 30px;
    }
    .wrapper-box{
      padding-right: 0px;
    }    
  }

  .sidebar {
    width: 110px;
    padding-inline: 0px;
    align-items: center;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;

      &:hover {
        background: #555;
      }
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .main-menu {
    padding-inline: 1rem;
  }

  .sidebar ul li a {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    min-height: 62px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
  }

  .sidebar ul li a label {
    margin-bottom: 0px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
  }

  .sidebar ul li a svg {
    margin-right: 0px;
  }

  .sidebar .main-menu .sub-menu.show {
    padding: 0px;
  }

  .sidebar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 0px;

    svg{
      margin-top: 1rem;
    }

  }
}


.sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
  background-color: #F7F7F7;
  z-index: 99;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-inline: 1rem;
  transition: width .15s ease;
  overflow-x: hidden;

  .sidebar-toggle {
    transition: .15s ease;
    cursor: pointer;
  }

  .sidebar-brand {
    margin-bottom: 2rem;
    position: relative;

    a {
      padding: 10px;
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 30px;

      svg {
        width: 50px;
        height: 50px;
      }
    }

    .sidebar-toggle {
      position: relative;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    margin-bottom: auto;
    width: 100%;

    li {
      list-style: none;
      margin: 10px 0px;
      width: 100%;

      a {
        padding: 10px 1rem;
        display: flex;
        border-radius: 6px;
        color: #A0A0A0;
        font-size: 14px;
        align-items: center;
        position: relative;

        &:not([href]):not([class]) {
          color: #A0A0A0;
        }

        span {
          width: 30px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &.dashboard-link {
        }

        &:hover,
        &.active {
          background-color: #3A495C;
          color: #fff;

          svg {
            fill: #fff;
          }

          path {
            fill: #fff;
          }

          &:not([href]):not([class]) {
            color: #fff;
          }
        }

        svg {
          margin-right: 10px;
        }
      }
    }
  }

  .main-menu {
    .sub-menu {
      display: none;
      height: 0;
      transition: height .15s ease;
      border-bottom: 1px solid #D9D9D9;
      padding-left: 1rem;

      &.show {
        height: auto;
        display: block;
      }
    }
  }

  .sidebar-overlay {
    background: #000000bd;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
  }
}

.m-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 1rem;
  display: none;
  align-items: center;

  a {
    img {
      max-width: 30px;
    }
  }
}

.sidebar-overlay {
  background-color: #0f121ba5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}

@media(max-width: 990px) {
  .m-section {
    display: flex;

    a {
      font-weight: 700;
    }
  }

  .sidebar {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-left: -280px;
    transition: 0.2s;
    z-index: 99;
  }

  .m-sidebar-active {
    .sidebar {
      display: flex;
      margin-left: 0px;
      z-index: 999;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .common-search {
    display: none;
  }

  .header-nav {
    display: none;
  }

  .sidebar-toggle {
    display: none;
  }

  .sidebar .sidebar-brand {
    margin-bottom: 1rem;
  }

  .sidebar ul {
    width: 100%;
  }

  .m-sidebar-active {
    .sidebar-active::after {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: #00000094;
      content: '';
    }
  }
}