.user-cmn-section {
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-bottom: 1.5rem;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(143, 149, 178, 0.1490196078);
  }

  .title-name {
    width: 100%;
    background-color: #fafafa;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .user-field-section {
    padding: 1rem;
    flex-direction: column;
    display: flex;
  }

  .category {
    background-color: #e6f1ff;
    border-radius: 20px;
    color: #4d76dc;
    padding: 4px 10px;
    margin-bottom: 1rem;
    display: flex;
    width: max-content;
  }

  .cate-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 1rem;
  }

  .all-links {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 1rem;
    margin-top: 1.5rem;

    button {
      background-color: transparent;
      border: 1px solid transparent;
      color: black;
      font-size: 1rem;
      padding: 8px 1rem;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .see-all {
      background-color: #4d76dc;
      color: white;
    }

    .add-email {
      border-color: #4d76dc;
      color: #4d76dc;
    }
  }

  .action-icons {
    display: flex;
    width: auto;
    gap: 10px;

    .edit-btn {
      svg {
        width: 18px;
        height: 17px;
        stroke: black;
        cursor: pointer;

        path {
          stroke: #0f121b;
        }
      }
    }

    .can-btn {
      background-color: transparent;
      border: none;

      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;

        g path {
          fill: #0f121b;
        }
      }
    }

    .save-btn {
      background-color: transparent;
      border: none;

      svg {
        width: 20px !important;
        height: 20px !important;
        cursor: pointer;

        path {
          fill: #0f121b;
        }
      }
    }
  }

  input {
    border: none;
    text-align: right;
  }

  &.edit-section {

    input {
      border: 1px solid #ddd;
      padding: 5px 10px;
      border-radius: 5px;
      text-align: left;
    }

  }

}

.gap-in {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.sub-line {
  width: 100%;

  label {
    color: #f1a7a7;
    margin-bottom: 0;
  }
}

.sub-child {
  display: flex;
  width: 100%;
  justify-content: space-between;

  select {
    width: 100%;
    border: none;
    padding-left: 0;

    option {
      padding-left: 1rem;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.your-profile {
  .head {
    width: 100%;
    background-color: #fafafa;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;

    span {
      color: #666;
      font-size: 14px;
    }

    label {
      font-weight: 700;
      font-size: 1.2rem;
      text-align: left;
    }

  }

  .user-field-section {
    padding: 1rem;
  }

  .user-prf-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    align-items: flex-start;

    .edit-btn {
      background-color: #4d76dc;
      color: white;
      border-radius: 25px;
      padding: 5px 15px;
      border: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;

      img {
        max-width: 15px;
      }
    }

    .name {
      font-size: 1.2rem;
      font-weight: 700;
    }

    .number {
      color: #f1a7a7;
    }

    input {
      border: none;
      text-align: left;

      &:focus {
        border: none;
        outline: none;
      }
    }

    textarea {
      width: 100%;
      resize: none;
      border: none;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  .detail-box {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &.edit-section {
    input {
      border: 1px solid #ddd;
      padding: 5px 10px;
      border-radius: 5px;
      text-align: left;
    }

    textarea {
      border: 1px solid #ddd;
      padding: 5px 10px;
      border-radius: 5px;
      text-align: left;

      &:focus {
        border: 1px solid #ddd;
      }
    }
  }
}

.user-profile-avt {
  width: 100%;
  display: flex;
  padding: 1rem;
  padding-top: 0;
  margin-top: -3rem;
  padding-bottom: 0;


  .avt-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 40px;
    position: relative;

    img {
      max-width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  .upload-over {
    width: 100%;
    bottom: 0;
    height: 30px;
    background-color: rgb(255 255 255 / 50%);
    display: flex;
    position: absolute;
    cursor: pointer;
    overflow: hidden;

    img {
      margin: 0 auto;
      max-width: 20px;
      object-fit: contain;
      height: auto;
    }

    input[type="file"] {
      position: absolute;
      bottom: 0;
      top: 0;
      width: 100%;
      opacity: 0;
    }
  }

  .action-icons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1rem;

    .edit-btn {
      svg {
        width: 18px;
        height: 17px;
        stroke: black;
        cursor: pointer;

        path {
          stroke: #0f121b;
        }
      }
    }

    .can-btn {
      background-color: transparent;
      border: none;

      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;

        g path {
          fill: #0f121b;
        }
      }
    }

    .save-btn {
      background-color: transparent;
      border: none;

      svg {
        width: 20px !important;
        height: 20px !important;
        cursor: pointer;

        path {
          fill: #0f121b;
        }
      }
    }

  }
}


.user-profile-avatar {
  width: 100%;
  border: 1.5px dashed #ddd;
  background: white;
  border-radius: 12px;
  padding: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  figure {
    margin-bottom: 2rem;

    img {
      max-width: 100px;
    }
  }

  h4 {
    color: #0f121b;
    font-size: 1.2rem;
    font-weight: 700;
  }

  span {
    color: #727f86;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      max-width: 20px;
    }
  }
}

.general-information {
  width: 100%;
  border: 1.5px dashed #ddd;
  background: white;
  border-radius: 12px;
  padding: 2rem;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h3 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.2rem;
  }

  label {
    color: #65928b;
  }

  input {
    height: 55px;
    border-radius: 10px;

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: inherit;
    }
  }

  input[readonly] {
    cursor: not-allowed;
    box-shadow: none;

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: inherit;
    }
  }

  .action-icons {
    display: flex;
    width: auto;
    gap: 10px;

    .edit-btn {
      svg {
        width: 18px;
        height: 17px;
        stroke: black;
        cursor: pointer;

        path {
          stroke: #0f121b;
        }
      }
    }

    .can-btn {
      background-color: transparent;
      border: none;

      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;

        g path {
          fill: #0f121b;
        }
      }
    }

    .save-btn {
      background-color: transparent;
      border: none;

      svg {
        width: 20px !important;
        height: 20px !important;
        cursor: pointer;

        path {
          fill: #0f121b;
        }
      }
    }
  }

  &.edit-section {
    input {
      border: 1px solid black;
    }
  }
}

.head-title {
  h2 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
}

.user-profile-wrapper {
  display: flex;
  flex-direction: column;
}

.col-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  label {
    color: #9095b3;
  }

  span {
    font-weight: 600;
  }
}


@media(max-width: 575px) {
  .user-profile-avatar {
    margin-bottom: 1rem;
  }

  .general-information {
    padding: 1rem 1rem;

    h3 {
      font-weight: 700;
      font-size: 1rem;
    }

    label {
      font-size: 14px;
    }

    input {
      height: 45px;
      font-size: 14px;
    }

    .updat-btn {
      width: 100%;
      font-size: 1.1rem;
      height: 45px;
    }
  }

  .head-title {
    h2 {
      font-weight: 700;
      font-size: 1rem;
    }

    p {
      font-size: 14px;
    }
  }

  .user-cmn-section {
    margin-bottom: 1rem;
  }

  .your-profile .detail-box {
    width: 100%;
  }

  .your-profile .head label {
    font-size: 1rem;
  }

  .user-cmn-section .title-name {
    font-size: 1rem;
  }

  .col-box {
    font-size: 14px;
  }

  .About-section {
    p {
      font-size: 14px;
    }
  }

  .your-profile .head span {
    font-size: 14px;
  }

  .user-profile-avatar {
    h4 {
      font-size: 1rem;
    }

    span {
      font-size: 1rem;
    }
  }
}