@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'react-datepicker/dist/react-datepicker.css';
@import 'styles/form.css';
@import 'styles/sidebar.css';
@import 'styles/main.css';
@import 'styles/header.css';
@import 'styles/register.css';
@import 'styles/login.css';
@import 'styles/dashboard.css';
@import 'styles/profile.css';
@import 'styles/choose_hierarchy.css';
@import 'styles/tab.css';
@import 'styles/landing.css';
@import 'styles/user_profile.css';
@import 'styles/typeform.css';
@import 'styles/chat.css';
@import 'styles/fund.css';
@import 'styles/edci.css';
@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js';

body {
  margin: 0;
  font-family: 'Nunito Sans';
  background-color: white;
  font-size: clamp(12px, 2vw, 16px);
}